.image-preloader{
    display: none;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5) url(../images/svg_loader/ball-triangle.svg) center center no-repeat;
    background-size:41px;
}